<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lugares/tabs/busqueda"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" ion-text="center">
  <div *ngIf = "isLoading">
    <ion-spinner color = "primary"></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-img [src]="lugarActual.imageUrl"></ion-img> 
    </ion-col>
  </ion-row> 
  <ion-row>
    <ion-col>
      <p>{{lugarActual.descripcion}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
      <ion-button color="primary" class="ion-margin" (click)="onReservarLugar()">Reservar</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

