<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reservaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && (!reservacionesCargadas || reservacionesCargadas.lenght <= 0)" class="ion-text-center">
      <p> No hay reservaciones</p>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && (reservacionesCargadas.lenght > 0">  
        <ion-list>
          <ion-item-sliding *ngFor="let rsv of reservacionesCargadas" #sliddingRsv>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img [src]="rsv.imageUrl"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>{{rsv.lugarTitulo}}</h2>
                <p>Huespedes: {{rsv.huespedes}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
            <ion-item-option color="danger" (click)="onRemoveReservacion(rsv.firebaseId, sliddingRsv)"></ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
